// POLICE
$black: #030303;
$white: #ffffff;
$brun: #B47F50;
$gray: #b9b9b9;
$beige: #f2e6b6;

$font-principale: "poppins";
$font-secondaire: "allura";
$font-tertiary: "cormorant";

// BACKGROUND
$bggray: #21201E;