@use "../abstracts/variables" as variable;

// STORE SCSS 
.store__wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    .store__content {
        width: 50%;
        height: 100%;
        text-align: center;
        .store__border {
            border: dashed 1px variable.$brun;
            margin: 2rem;
            h3 {
                margin-top: 4rem;
            }
            img {
                margin-top: 1rem;
            }
            .lorem {
                padding: 2rem 14rem;
            }
            .avatar {
                width: 15%;
                border-radius: 50%;
                margin-bottom: 2rem;
            }
            .name {
                font-weight: 500;
                font-size: 1.6rem;
                font-family: variable.$font-tertiary;
            }
            .job {
                margin-bottom: 4rem;
            }
        }
    }
    .store__img {
        width: 50%;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

// MENU SCSS 
.menu__wrapper {
    background-color: variable.$bggray;
    .menu__navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-top: 6rem;
        img {
            width: 5%;
            padding: 2rem;
            align-self: center;
        }
        .menu__nav {
            display: flex;
            justify-content: center;
            gap: 6rem;
            margin-bottom: 6rem;
            a {
                text-decoration: underline;
                font-family: variable.$font-tertiary;
                font-weight: 300;
                font-size: 1.3rem;
            }
        }
    }
    .menu__card {
        background-color: variable.$white;
        border-top: 6px solid variable.$brun;
        color: variable.$gray;
        width: 60%;
        display: flex; 
        flex-wrap: wrap;
        gap: 2rem;
        padding: 4rem;
        margin-left: 20%;
        position: relative;
        i {
            color: variable.$brun;
            position: absolute;
            font-size: 1.5rem;
            transform: translate(6rem, -5.2rem);
        }
        .menu__plate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 47%;
            padding-bottom: 1rem;
            border-bottom: 1px dashed variable.$gray;
            .border {
                border: 1px solid variable.$gray;
                width: 30%;
                height: 1px;
            }
            img {
                border-radius: 50%;
            }
            p {
                font-size: 0.8rem;
            }
            .name {
                font-family: variable.$font-tertiary;
                font-size: 1rem;
                font-weight: 100;
                text-transform: uppercase;
            }
            .price {
                font-size: 1.5rem;
                color: variable.$brun;
                font-weight: 300;
            }
        }   
    }
}